.chat-page {
 display: grid;
 grid-template-columns: repeat(5, 1fr);
 grid-template-rows: repeat(5, 1fr);
 grid-column-gap: 0px;
 grid-row-gap: 0px;
 height: 100vh;
 width: 100vw;
}

.chat-input {
 grid-area: 5 / 2 / 6 / 6;
 position: relative;
 width: 100%;
}
.chat {
 grid-area: 1 / 2 / 5 / 6;
 max-height: 100%;
 overflow-y: auto;
 transition: 7s;
}
.users {
 grid-area: 1 / 1 / 6 / 2;
 height: 97%;
 border-right: solid #82aeb3 0.25vw;
 padding-top: 10%;
}
.chat-header {
 text-align: center;
 margin: 0;
 padding: 0;
 font-size: 3vw;
 position: sticky;
 top: 0;
 background-color: #d4fbff;
}

.message-input {
 background-color: #f0f8ff;
 width: 95%;
 height: 100%;
 padding-right: 5%;
 margin: 0;
 font-family: 'RocknRoll One', sans-serif;
 font-size: 1.5vw;
 border: none;
 color: #679ea3;
}
.message-input:focus {
 outline: none;
}
.send-btn {
 cursor: pointer;
 position: absolute;
 top: 0.5vw;
 right: 0.5vw;
 font-size: 125%;
}

.user {
 font-size: 2vw;
 font-weight: bold;
 list-style-type: none;
 margin-left: 3vw;
}
.dot {
 display: inline-block;
 border-radius: 50%;
 height: 1vw;
 width: 1vw;
 background-color: #82aeb3;
 margin-right: 1vw;
}
.user-heading {
 font-size: 1.5vw;
 margin-left: 3vw;
 color: #82aeb3;
}
.message-container {
 display: flex;
 flex-direction: column;
 flex-direction: column;
 background-color: #edfdff;
 width: fit-content;
 max-width: 30vw;
 min-width: 15vw;
 margin-top: 1vw;
 border-radius: 1vw;
 word-break: break-word;
 font-size: 1.25vw;
 padding-right: 1vw;
 padding-left: 1vw;
 margin: 1vw;
}

.general-message-container {
 width: 20vw;
 text-align: center;
 font-size: 1vw;
 border-radius: 1vw;
 background-color: #ffe6d4;
 margin-top: 1vw !important;
 margin-bottom: 1vw !important;
 margin: auto;
}
.name {
 font-size: 1vw;
 color: #679ea3;
}
.timestamp {
 font-size: 1vw;
 color: #679ea3;
 margin-left: auto;
}

/* width */
::-webkit-scrollbar {
 width: 0.8vw;
}

/* Track */
::-webkit-scrollbar-track {
 background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
 background: #679ea3;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
 border-radius: 1vw;
 background: #ffe6d4;
}
